*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

/* Samuel please write your header style below👇 */


/* Header style ends Here */


/* Caasim please write your footer style here 👇*/

/* footer style ends here */